@import url(../fonts/include.css);

body {
    background: #222;
}

main {
    padding: 20px 40px;
    height: 100%;
}

header {
	background: #1a1a1a;
	color: #fff;
	text-align: center;
	padding-bottom: 13px;
	padding: 0 15px;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}

a {
    color: #5596e6;
}

@media (min-width: 887px) {
	header {
		padding-bottom: auto;
		height: 44px;
	}
}

#logo {
	margin-top: 4px;
	height: 35px;
}

p,
h1,
h2,
h3,
h4 {
    color: #eee;
    font-family: "Gotham Pro", sans-serif;
}